
@import "../../sass/variables.scss";

input,
textarea {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    appearance: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.25rem;
    width: 100%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    line-height: 1.25;
    border-color: #CDCDCD;
    &:focus {
        outline: 0;
    }
}

label {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    color: #757575;
    font-weight: 600;
}

.form-controls{
    background-color: $value-green;
    display: flex;
    padding: 0 5px;
    align-items: center;
}

.color{
    width: 50px;
    height: 30px;
    background-color: #fff;
    margin: 0 20px;
}

.control{
    display: flex;
}

.form-controls__settings{
    display: flex;
    justify-items: center;
    align-items: center;
}