
// Gilroy
@font-face {
    font-family: Gilroy;
    src: url("../assets/fonts/webfonts/gilroy/Gilroy-Regular.woff") format("woff"),
        url("../assets/fonts/webfonts/gilroy/Gilroy-Regular.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: url("../assets/fonts/webfonts/gilroy/Gilroy-Medium.woff") format("woff"),
        url("../assets/fonts/webfonts/gilroy/Gilroy-Medium.woff2") format("woff2");
        font-weight: 500;
        font-style: normal;
}


@font-face {
    font-family: Gilroy;
    src: url("../assets/fonts/webfonts/gilroy/Gilroy-Bold.woff") format("woff"),
        url("../assets/fonts/webfonts/gilroy/Gilroy-Bold.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: url("../assets/fonts/webfonts/gilroy/Gilroy-BoldItalic.woff") format("woff"),
        url("../assets/fonts/webfonts/gilroy/Gilroy-BoldItalic.woff2") format("woff2");
        font-weight: 700;
        font-style: italic;
}

@font-face {
    font-family: Gilroy;
    src: url("../assets/fonts/webfonts/gilroy/Gilroy-SemiBold.woff") format("woff"),
        url("../assets/fonts/webfonts/gilroy/Gilroy-SemiBold.woff2") format("woff2");
        font-weight: 600;
        font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: url("../assets/fonts/webfonts/gilroy/Gilroy-Light.woff") format("woff"),
        url("../assets/fonts/webfonts/gilroy/Gilroy-Light.woff2") format("woff2");
        font-weight: 300;
        font-style: normal;
}
