@import "sass/all.scss";

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
}

.meme-grid {
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(2, minmax(0, 1fr));

}

#root{
    padding-bottom: 20px;
}


.meme-generator-section {
    margin-top: 6rem;
}

.button-group {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.meme-text-input {
    margin-top: 30px;
}

.create-meme-button-group {
    justify-content: flex-end;
    margin-top: 30px;
}

.canvas-container {
    .upper-canvas {
        position: relative !important;
    }
}

.icon {
    width: 16px;
    height: 16px;
}

.meme-creator-col {
    overflow: hidden;
}

body {
    font-family: $font-title !important;
}

button {
    font-family: $font-title;
}

.mr-0{
    margin-right: 0 !important;
}